<div class="current-banner">
  <div class="reused-banner-inner">
<h1>Current Listings</h1>

  </div>
  <hr>
</div>
<hr>
<div class="container">

<div style="text-align:right;margin-top: 16px;margin-bottom: 16px;" class="mt-50">
<%= form_tag bands_path, class: "p-50", method: :get do %>
  <%= select_tag :genre, options_for_select([["All", ""]] + @genres.map { |genre| [genre, genre] }, selected: @selected_genre), include_blank: true %>
  <%= submit_tag 'Filter by genre', class: "btn btn-secondary btn-sm ml-15" %>
<% end %>
</div>

    <div class="flex-item cards">
      <% @bands.each do |band| %>
        <div class="card-product shadow border">
          <%= image_tag band.image_url %>
          <div class="ml-5 mr-50px d-flex flex-fill justify-content-evenly">
            <div class="p-2 card-product-infos">
              <h2><%= band.name %></h2>
              <p class="p-2 card-product-infos text-center">£<%= band.price_per_night %></p>
            </div>
            <div class="d-flex flex-column justify-content-center text-center">
              <%= link_to band_path(band), class: "p-2" do %>
              <button type="button" class="btn btn-outline-secondary p-2">View</button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
<%#
    <div class="col-6">
          <div id='map' style='width: 400px; height: 80%;'></div>
    </div>
  </div>
</div> %>
