<div class="reused-banner">
  <div class="reused-banner-inner">
      <div class="band-info-head d-flex">
        <div class="band-image-show">
          <img src="<%= @band.image_url%>" alt="Photo of <%= @band.name %>">
        </div>
        <div class="band-name-show col-sm-6">
          <h1><%= @band.name%></h1>
          <h5>Genre: <%= @band.genre.capitalize %></h5>
          <h5>Price per night: £<%= @band.price_per_night%></h5>
        </div>
      </div>
  </div>
</div>

<div class="container" style="margin-bottom:50px;">
  <hr>

  <div class="row">
    <div class="col-6">
      <h5>REVIEWS</h5>
      <% if @reviews.empty?%>
        <h5 class="text-center">There are no reviews</h5>
      <% else %>
        <% @reviews.each do |review| %>
          <div class="card shadow" id="review-card">
            <ul class="list-group list-group-horizontal-md mx-2">
              <% review.rating.times do %>
                <li><i class="fa-regular fa-star"></i></li>
              <% end %>
            </ul>
            <p class="mx-2"><em>"<%= review.content %>"</em></p>
          </div>
        <% end %>
      <% end %>
      <div class="review-form shadow">
        <%= simple_form_for @review, {url: band_reviews_path(@band)} do |f| %>
          <%= f.input :content, label: "Leave a Review:", placeholder: 'Write your review here ...' %>
          <%= f.input :rating, input_html: {min: 0, max: 5, step: 1} %>
          <p class="text-center"><%= f.submit%></p>
        <% end %>
      </div>
      <hr>
      <div class="p-2 text-center">
          <h5>BAND INFO AND LINKS</h5>
          <div class="logo-dispay">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-soundcloud"></i>
          </div>
      </div>
      <hr>
    </div>
    <div class="col-6 shadow p-1">
      <div class="p-2">
        <h3 class="text-center">BOOK NOW</h3>
        <%= simple_form_for [@band, @booking] do |f| %>
          <%= f.input :start_date, as: :date %>
          <%= f.input :end_date, as: :date %>
          <%= f.association :venue, collection: Venue.all %>
          <p class="text-center"><%= f.submit 'Book', class: 'btn btn-primary' %></p>
        <% end %>
        <hr>
      </div>
      <div class="p-1 text-center">
        <h3>UPCOMING SHOWS</h3>
          <% if @bookings.empty? %>
            <div>
              <h2>There are no upcoming shows</h2>
            </div>
          <% else %>
            <% @bookings.each do |booking| %>
              <div class="card shadow">

                <p><strong>Playing at:</strong></p>
                <p><%= booking.venue.name %></p>
                <p><%= booking.venue.address %></p>

              <% if booking.start_date != booking.end_date %>
                 <h3><%= booking.start_date.strftime('%d-%m-%Y') %> - <%= booking.end_date.strftime('%d-%m-%Y') %></h3>
              <% else %>
              <h3><%= booking.start_date.strftime('%d-%m-%Y') %></h3>
              <% end  %>

              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
