<div class="banner">
  <div class="banner-inner">
      <div class="band-info-head d-flex">
        <div class="band-image-show">
          <img src="<%= @band.image_url%>" alt="Photo of <%= @band.name %>">
        </div>
        <div class="band-name-show col-sm-6">
          <h1><%= @band.name%></h1>
          <h5>Genre: <%= @band.genre %></h5>
          <h5>Price per night: £<%= @band.price_per_night%></h5>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <hr>
  <p class="text-center">SOME INFORMATION ABOUT THE BAND GOES HERE!</p>
  <hr>
  <div class="row">
    <div class="col-6">
      <h5>REVIEWS</h5>
      <% if @reviews.empty?%>
        <h5 class="text-center">There are no reviews</h5>
      <% else %>
        <% @reviews.each do |review| %>
          <div class="card shadow">
            <h3><%= review.rating %></h3>
            <p><%= review.content %></p>
          </div>
        <% end %>
      <% end %>
      <%= simple_form_for @review, {url: band_reviews_path(@band)} do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, input_html: {min: 0, max: 5, step: 1} %>
        <%= f.submit%>
      <% end %>
      <hr>
      <h5>UPCOMING SHOWS</h5>
      <hr>
    </div>
    <div class="col-6">
      <h5>BAND INFO AND LINKS</h5>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-soundcloud"></i>
      <hr>
    </div>
  </div>
  <div>
    <h3 class="text-center">BOOK NOW</h3>
      <div class="text-center">
      <%= simple_form_for @booking, :url => user_bookings_path(current_user), data: { controller: 'flatpickr'} do |f| %>
        <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
        <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" } } %>
        <%= f.submit 'Book' %>
      <% end %>
      </div>
    <hr>
  </div>
</div>
